<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/allPosts.css">
    <title>Main Page</title>
</head>
<body>
    <div id="toolbar" class="toolbar-wrapper">
        <h1 id="website-title">Writing Space</h1>
        <ul class="link-container">
            <li id="posts"><a href="/posts">Home</a></li>
            <li id="Account"><a href="/account/<%= user %>">Account</a></li>
        </ul>
    </div>
    <div id="create-post" class="create-post-wrapper">
        Create a post! <a href="/posts">Click Here!</a>
    </div>
    <div class="posts-wrapper">
        <% if (!!posts === false) { %>
            <span class="no-posts">There are no posts. Be the first to post something!</span>
            
        <% } else { %>
            <% for (const post of posts) { %>
                <div class = "single-wrapper">
                    <div class="user-container">
                        <img id="pfp" src="/pfp/pfp.png">
                        <p><a href="/users/<%= post.username %>"><%= post.username %></a></p>
                    </div>
                    <div class="post-container">
                        <p><a href="/posts/<%= post.postID %>"><%= post.subject %></a></p>
                        <p><%= new Date(post.date).toLocaleString() %></p>
                        <p>Likes: <%= post.likes %></p> 
                    </div>
                </div>
            <% } %>
        <% } %>
    </div>
</body>
</html>